<style type="text/css">
.tg  {border-collapse:collapse;border-color:#aabcfe;border-spacing:0;}
.tg td{background-color:#e8edff;border-color:#aabcfe;border-style:solid;border-width:1px;color:#669;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#b9c9fe;border-color:#aabcfe;border-style:solid;border-width:1px;color:#039;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-phtq{background-color:#D2E4FC;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-hmp3{background-color:#D2E4FC;text-align:left;vertical-align:top}
.tg .tg-48yq{background-color:#D2E4FC;border-color:inherit;text-align:left;vertical-align:middle}
.tg .tg-uzvj{border-color:inherit;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-uzvj">Command </th>
    <th class="tg-uzvj">Description </th>
    <th class="tg-uzvj">Usage </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-48yq">accountage </td>
    <td class="tg-48yq">Shows how old your accounts is </td>
    <td class="tg-phtq">%accountage @user </td>
  </tr>
  <tr>
    <td class="tg-lboi">activity </td>
    <td class="tg-lboi">Changes the bot's game activity (bot owner only) </td>
    <td class="tg-0pky">%activity hi </td>
  </tr>
  <tr>
    <td class="tg-48yq">aiwaifu </td>
    <td class="tg-48yq">Sends an AI Generated waifu </td>
    <td class="tg-phtq">%aiwaifu </td>
  </tr>
  <tr>
    <td class="tg-lboi">rate </td>
    <td class="tg-lboi">Rates someone </td>
    <td class="tg-0pky">%rate @user </td>
  </tr>
  <tr>
    <td class="tg-48yq">ask </td>
    <td class="tg-48yq">Ask the bot a question </td>
    <td class="tg-phtq">%ask How are you? </td>
  </tr>
  <tr>
    <td class="tg-lboi">avatar </td>
    <td class="tg-lboi">Get someone's avatar </td>
    <td class="tg-0pky">%avatar @user </td>
  </tr>
  <tr>
    <td class="tg-48yq">bmi </td>
    <td class="tg-48yq">Calculate your BMI (Body mass index), Units are in Kg and Meters </td>
    <td class="tg-phtq">%bmi 50 1.80 </td>
  </tr>
  <tr>
    <td class="tg-lboi">convert </td>
    <td class="tg-lboi">Converts 2 units </td>
    <td class="tg-0pky">%convert </td>
  </tr>
  <tr>
    <td class="tg-48yq">dict </td>
    <td class="tg-48yq">Look up the definition of a word </td>
    <td class="tg-phtq">%dict vehicle </td>
  </tr>
  <tr>
    <td class="tg-lboi">femboyrate </td>
    <td class="tg-lboi">Rates how much of a femboy someone is </td>
    <td class="tg-0pky">%femboyrate @user </td>
  </tr>
  <tr>
    <td class="tg-48yq">frame </td>
    <td class="tg-48yq">Frames someone to say something </td>
    <td class="tg-phtq">%frame userid Hi </td>
  </tr>
  <tr>
    <td class="tg-lboi">hugging </td>
    <td class="tg-lboi">Generates a hugging caption image </td>
    <td class="tg-0pky">%hugging user1 user2 </td>
  </tr>
  <tr>
    <td class="tg-48yq">imagesearch </td>
    <td class="tg-48yq">Reverse searches an image on Google </td>
    <td class="tg-phtq">%imagesearch </td>
  </tr>
  <tr>
    <td class="tg-lboi">img </td>
    <td class="tg-lboi">Searches an image on Google </td>
    <td class="tg-0pky">%img "funny cats" </td>
  </tr>
  <tr>
    <td class="tg-48yq">iplocation </td>
    <td class="tg-48yq">Get the location of an IP </td>
    <td class="tg-phtq">%iplocation 127.0.0.1 </td>
  </tr>
  <tr>
    <td class="tg-lboi">kissing </td>
    <td class="tg-lboi">Generates a kissing caption image </td>
    <td class="tg-0pky">%kissing person person2 </td>
  </tr>
  <tr>
    <td class="tg-48yq">lying </td>
    <td class="tg-48yq">Generates the has me lying copypasta with a specific person </td>
    <td class="tg-phtq">%lying userid he/she </td>
  </tr>
  <tr>
    <td class="tg-lboi">nmap </td>
    <td class="tg-lboi">Runs an Nmap scan (bot owner only) </td>
    <td class="tg-0pky">%nmap https://google.com </td>
  </tr>
  <tr>
    <td class="tg-48yq">opinion </td>
    <td class="tg-48yq">Gives you my opinion on someone </td>
    <td class="tg-phtq">%opinion @user </td>
  </tr>
  <tr>
    <td class="tg-lboi">orgyship </td>
    <td class="tg-lboi">Orgy ship </td>
    <td class="tg-0pky">%orgyship @user @user2 @user3 @user4 @user5 </td>
  </tr>
  <tr>
    <td class="tg-48yq">ship </td>
    <td class="tg-48yq">Ships 2 people </td>
    <td class="tg-phtq">%ship @user @user2 </td>
  </tr>
  <tr>
    <td class="tg-lboi">ship2 </td>
    <td class="tg-lboi">ship, but better </td>
    <td class="tg-0pky">%ship2 person1 person2 </td>
  </tr>
  <tr>
    <td class="tg-48yq">threesomeship </td>
    <td class="tg-48yq">Ships 3 people together </td>
    <td class="tg-phtq">%threesomeship @user @user2 @user3 </td>
  </tr>
  <tr>
    <td class="tg-lboi">osu </td>
    <td class="tg-lboi">Searches for a user or a beatmap on osu! </td>
    <td class="tg-lboi">User search: <br>%osu user josesucks <br>Beatmap Search: <br>%osu beatmap id (the id is at the end of the beatmap url&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="tg-48yq">passgen </td>
    <td class="tg-48yq">Generates a password </td>
    <td class="tg-phtq">%passgen length </td>
  </tr>
  <tr>
    <td class="tg-lboi">ping </td>
    <td class="tg-lboi">Pings a website </td>
    <td class="tg-0pky">%ping google.com </td>
  </tr>
  <tr>
    <td class="tg-48yq">pocky </td>
    <td class="tg-48yq">Generates a pocky caption image </td>
    <td class="tg-phtq">%pocky user user2 </td>
  </tr>
  <tr>
    <td class="tg-lboi">randnum </td>
    <td class="tg-lboi">Generates a random number </td>
    <td class="tg-0pky">%randnum </td>
  </tr>
  <tr>
    <td class="tg-48yq">randompasta </td>
    <td class="tg-48yq">Gets a random copypasta from the database </td>
    <td class="tg-phtq">%randompasta </td>
  </tr>
  <tr>
    <td class="tg-lboi">appendpasta </td>
    <td class="tg-lboi">Adds a copypasta to the database </td>
    <td class="tg-0pky">%appendpasta Zero two has me lying on my back </td>
  </tr>
  <tr>
    <td class="tg-48yq">randomwaifu </td>
    <td class="tg-48yq">Gets a random waifu </td>
    <td class="tg-phtq">%randomwaifu </td>
  </tr>
  <tr>
    <td class="tg-lboi">randomwaifu2 </td>
    <td class="tg-lboi">Gets a random waifu (better command) </td>
    <td class="tg-0pky">%randomwaifu2 </td>
  </tr>
  <tr>
    <td class="tg-48yq">react </td>
    <td class="tg-48yq">Reacts to a message (remove soon) </td>
    <td class="tg-phtq">%react messageid </td>
  </tr>
  <tr>
    <td class="tg-lboi">request </td>
    <td class="tg-lboi">Makes a URL Request (remove soon) </td>
    <td class="tg-0pky">%request URL </td>
  </tr>
  <tr>
    <td class="tg-48yq">say </td>
    <td class="tg-48yq">Makes the bot say something </td>
    <td class="tg-phtq">%say Hello </td>
  </tr>
  <tr>
    <td class="tg-lboi">screenshot </td>
    <td class="tg-lboi">Screenshots a website </td>
    <td class="tg-0pky">%screenshot URL </td>
  </tr>
  <tr>
    <td class="tg-48yq">servers </td>
    <td class="tg-48yq">Lists of servers the bot is in </td>
    <td class="tg-phtq">%servers </td>
  </tr>
  <tr>
    <td class="tg-lboi">speedconvert </td>
    <td class="tg-lboi">Converts a speed unit </td>
    <td class="tg-0pky">%speedconvert kmh 100 </td>
  </tr>
  <tr>
    <td class="tg-48yq">tempconvert </td>
    <td class="tg-48yq">Converts a temperature unit </td>
    <td class="tg-phtq">%tempconvert c 40 </td>
  </tr>
  <tr>
    <td class="tg-lboi">translate </td>
    <td class="tg-lboi">Translates something </td>
    <td class="tg-0pky">%translate en ar Hello </td>
  </tr>
  <tr>
    <td class="tg-48yq">typing </td>
    <td class="tg-48yq">Makes the bot type </td>
    <td class="tg-phtq">%typing </td>
  </tr>
  <tr>
    <td class="tg-lboi">urban </td>
    <td class="tg-lboi">Searches for a word in the urban dictionary </td>
    <td class="tg-0pky">%urban man </td>
  </tr>
  <tr>
    <td class="tg-48yq">webhooktransmit </td>
    <td class="tg-48yq">Sends a webhook (debug command) </td>
    <td class="tg-phtq">%webhook URL name AVATAR hi </td>
  </tr>
  <tr>
    <td class="tg-lboi">weightconvert </td>
    <td class="tg-lboi">Converts a weight unit </td>
    <td class="tg-0pky">%weightconvert kg 45 </td>
  </tr>
  <tr>
    <td class="tg-48yq">whatanime </td>
    <td class="tg-48yq">Searches for an anime using tracemoe with a screenshot </td>
    <td class="tg-phtq">%whatanime [attachment] </td>
  </tr>
  <tr>
    <td class="tg-lboi">wordcloud </td>
    <td class="tg-lboi">Generates a wordcloud </td>
    <td class="tg-0pky">%wordcloud 100 </td>
  </tr>
  <tr>
    <td class="tg-48yq">yomama </td>
    <td class="tg-48yq">Sends a Yo Mama joke </td>
    <td class="tg-phtq">%yomama </td>
  </tr>
  <tr>
    <td class="tg-lboi">duckduckgo </td>
    <td class="tg-lboi">Searches for a term on DuckDuckGo </td>
    <td class="tg-0pky">%duckduckgo python 1 </td>
  </tr>
  <tr>
    <td class="tg-48yq">kiss, hug, and poke </td>
    <td class="tg-48yq">Reacts with a hug, kiss or poke gif. User argument required </td>
    <td class="tg-phtq">%kiss @man <br>%hug @man <br>%poke @man&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="tg-lboi">gelbooru </td>
    <td class="tg-lboi">Search for images on gelbooru with tags </td>
    <td class="tg-0pky">%gelbooru reizei_mako </td>
  </tr>
  <tr>
    <td class="tg-48yq">gay </td>
    <td class="tg-48yq">Draws a gay overlay over an image </td>
    <td class="tg-phtq">%gay [attachment] </td>
  </tr>
  <tr>
    <td class="tg-lboi">lyrics </td>
    <td class="tg-lboi">Search for the lyrics of a song </td>
    <td class="tg-0pky">%lyrics vanilla salt </td>
  </tr>
  <tr>
    <td class="tg-48yq">aita </td>
    <td class="tg-48yq">Returns a random post from r/AmitheAsshole </td>
    <td class="tg-phtq">%aita </td>
  </tr>
  <tr>
    <td class="tg-lboi">tag </td>
    <td class="tg-lboi">Tag command similar to notsobot's </td>
    <td class="tg-0pky">%tag add jose :slightly_smiling_face: <br>%tag remove jose <br>%tag list <br>%tag jose&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="tg-48yq">invite </td>
    <td class="tg-48yq">Gives you an Oauth2 invite for the bot </td>
    <td class="tg-phtq">%invite </td>
  </tr>
  <tr>
    <td class="tg-lboi">politeness </td>
    <td class="tg-lboi">Unofficial API for politeness.cornell.edu </td>
    <td class="tg-0pky">%politeness How are you? </td>
  </tr>
  <tr>
    <td class="tg-48yq">fraudcheck </td>
    <td class="tg-48yq">Checks if an IP is fraudulent </td>
    <td class="tg-phtq">%fraudcheck 127.0.0.1 </td>
  </tr>
  <tr>
    <td class="tg-lboi">sauce </td>
    <td class="tg-lboi">SauceNao search </td>
    <td class="tg-0pky">%sauce [attachment] </td>
  </tr>
  <tr>
    <td class="tg-48yq">ruined </td>
    <td class="tg-48yq">React with ruined </td>
    <td class="tg-phtq">%ruined @someone </td>
  </tr>
  <tr>
    <td class="tg-lboi">charactersearch </td>
    <td class="tg-lboi">Searches for an anime character </td>
    <td class="tg-0pky">%charactersearch mako </td>
  </tr>
  <tr>
    <td class="tg-48yq">animesearch </td>
    <td class="tg-48yq">Searches for an anime from myanimelist </td>
    <td class="tg-phtq">%anime yagate kimi ni naru </td>
  </tr>
  <tr>
    <td class="tg-lboi">define </td>
    <td class="tg-lboi">Defines a word </td>
    <td class="tg-0pky">%define keyboard </td>
  </tr>
  <tr>
    <td class="tg-48yq">ping </td>
    <td class="tg-48yq">Returns the bot's latency </td>
    <td class="tg-phtq">%ping </td>
  </tr>
  <tr>
    <td class="tg-lboi">genderguesser </td>
    <td class="tg-lboi">Guesses a name's gender </td>
    <td class="tg-0pky">%genderguesser joe </td>
  </tr>
  <tr>
    <td class="tg-48yq">ffmpeg </td>
    <td class="tg-48yq">Allows you to convert videos (you must attach a file) </td>
    <td class="tg-phtq">%ffmpeg mkv </td>
  </tr>
  <tr>
    <td class="tg-lboi">ffmpeg2 </td>
    <td class="tg-lboi">FFMpeg, but with more advanced functionality </td>
    <td class="tg-0pky">%ffmepg2 format args <br>Example: %ffmpeg2 mp4 -af acrusher=.1:1:64:0:log -filter:v scale=100:-1&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="tg-48yq">twerkradio </td>
    <td class="tg-48yq">Plays twerk radio in the VC you're currently in </td>
    <td class="tg-phtq">%twerkradio </td>
  </tr>
  <tr>
    <td class="tg-lboi">sfx </td>
    <td class="tg-lboi">Plays a sound effect in the VC you're currently in </td>
    <td class="tg-0pky">%sfx fart <br>Available sound effects: <br>001 amogus2 amogus araara badumtss battery bruh dialup drip&nbsp;&nbsp;fail fart funny jamal jew ksi laugh lebronjames lolimoan2 lolimoan3&nbsp;&nbsp;lolimoan4 lolimoan niggaballs notification2 notification3 notification&nbsp;&nbsp;ohhellnaw reallyniga s2 sus thisis thud tvlaugh twerkradio weed&nbsp;&nbsp;windowserror2 windowserror&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="tg-48yq">allsfx </td>
    <td class="tg-48yq">Plays all sound effects at once </td>
    <td class="tg-phtq">%allsfx </td>
  </tr>
  <tr>
    <td class="tg-lboi">youtubedl </td>
    <td class="tg-lboi">Allows you to download a Youtube video </td>
    <td class="tg-0pky">%youtubedl https://www.youtube.com/watch?v=ZuR4MsFjSek </td>
  </tr>
  <tr>
    <td class="tg-48yq">archive </td>
    <td class="tg-48yq">Archive someone's message in the funny cat database </td>
    <td class="tg-phtq">%archive messageid </td>
  </tr>
  <tr>
    <td class="tg-lboi">archivelookup </td>
    <td class="tg-lboi">Retrives an archived message from the funny cat database </td>
    <td class="tg-0pky">%archivelookup messageid </td>
  </tr>
  <tr>
    <td class="tg-48yq">encryptimg </td>
    <td class="tg-48yq">Encrypts an image, making it unviewable without decryption </td>
    <td class="tg-phtq">%encryptimg password (attach an image) </td>
  </tr>
  <tr>
    <td class="tg-lboi">decryptimg </td>
    <td class="tg-lboi">Decrypts an encrypted image </td>
    <td class="tg-0pky">%decryptimg password (attach an encrypted image) </td>
  </tr>
  <tr>
    <td class="tg-48yq">dumpy </td>
    <td class="tg-48yq">Bootleg among us dumpy bot </td>
    <td class="tg-phtq">%dumpy 10 (attach an image) </td>
  </tr>
  <tr>
    <td class="tg-lboi">status </td>
    <td class="tg-lboi">Shows the funny cat server status and bandwidth usage </td>
    <td class="tg-0pky">%status </td>
  </tr>
  <tr>
    <td class="tg-48yq">play </td>
    <td class="tg-48yq">Plays a media file from a given URL in the VC you're currently in (Supports Youtube videos) </td>
    <td class="tg-phtq">%play https://www.youtube.com/watch?v=xb3j335MMhI <br>%play https://cdn.discordapp.com/attachments/834148514895757333/880066401207980062/fartMemeSound.mp3 <br>WARNING: DO NOT PLAY A VIDEO LONGER THAN 30 MINUTES <br>VIOLATING SERVERS WILL BE BLACKLISTED&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td class="tg-lboi">ytplay </td>
    <td class="tg-lboi">Plays a Youtube Video (Works without a URL) </td>
    <td class="tg-0pky">%ytplay search_term <br>WARNING: DO NOT PLAY A VIDEO LONGER THAN 30 MINUTES <br>VIOLATING SERVERS WILL BE BLACKLISTED </td>
  </tr>
  <tr>
    <td class="tg-hmp3">shittyytplay</td>
    <td class="tg-hmp3">ytplay, but distorted<br></td>
    <td class="tg-hmp3">see ytplay usage above</td>
  </tr>
  <tr>
    <td class="tg-0lax">stop</td>
    <td class="tg-0lax">Stops all playback in the VC you're currently in.<br>Permissions aren't yet implemented so anyone can run that command.<br></td>
    <td class="tg-0lax">%stop</td>
  </tr>
</tbody>
</table>